<div class="form-container" style="position: absolute;top: 0;left: 0;right: 0;bottom:0;margin: auto;height: 300px;">
  <h3 style="text-align: center;">{{title}}</h3>
  <form (ngSubmit)="onSubmit()">
    <div> 
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <app-button (click)="onSubmit()" [title]="'Login'"></app-button>
  </form>
</div>

<!-- <router-outlet /> -->
