<div class="form-container" style="position: absolute;top: 0;left: 0;right: 0;bottom:0;margin: auto;height: 300px;">
  <h3 style="text-align: center;">{{title}}</h3>
  <form (ngSubmit)="onSubmit()">

    <app-input-field  type="text"  [title]="'Username'" (valueChange)="onUsernameChange($event)"></app-input-field>
    <app-input-field  type="password"  [title]="'Password'" (valueChange)="onPasswordChange($event)"></app-input-field>
    
    <app-button (click)="onSubmit()" [title]="'Login'"></app-button>
  </form>
</div>

<!-- <router-outlet /> -->
